
@{
    Layout = null;
} 


<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hệ thống quản lý công tác giáo viên</title>

    <!-- Bootstrap -->
    <link href="~/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/logn/style1.css" rel="stylesheet" />
    <link href="style1.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('#UserName').focus();
        });
        function validate() {
            if ($('#UserName').val() == "") {
                alert('Bạn chưa nhập tài khoản!');
                $('#UserName').focus();
                return false;
            }
            if (($('#UserName').val().length) > 30) {
                alert('Tài khoản không được dài quá 30 ký tự !');
                $('#UserName').val('');
                $('#UserName').focus();
                return false;
            }
            if ($('#PassWord').val() == "") {
                alert('Bạn chưa nhập mật khẩu!');
                $('#PassWord').focus();
                return false;
            }

            return true;
        }
    </script>
    <style>
        .login-form-size {
            width: 400px;
        }

        .validate-form-size {
            list-style-type: none;
        }

        ul {
            list-style-type: none;
        }
    </style>
</head>

<body style="background:#F7F7F7;">
    <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">

            <div id="login" class=" form">
                <section class="login_content">


                    <form action="/Login/LoginAction" method="post">
                        <h1>ĐĂNG NHẬP</h1>
                        <div>
                            <input class="form-control" data-val="true" data-val-required="Mời bạn nhập UserName" id="UserName" name="TenTk" placeholder="Tài khoản" type="text" value="">
                           
                        </div>
                        <div>
                            <input class="form-control" data-val="true" data-val-required="Mời bạn nhập Password" id="PassWord" name="MatKhau" placeholder="Mật khẩu" type="password">
                           
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit" onclick="return validate();">Đăng nhập</button>

                        </div>

                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <p>©BTD - 2021</p>
                            </div>
                        </div>
                    </form>
                  
                </section>
            </div>
        </div>
    </div>
</body>
</html>