
@{
    ViewBag.Title = "DoiMK";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

    <div class="container">

        <label style="width: 120px;">Mật khẩu cũ:</label>
        <input id="cu" type="password" />

        <br />
        <label style="width: 120px;">Mật khẩu mới:</label>
        <input id="moi" type="password" />


        <br />
        <label style="width: 120px;">Nhập lại Mk mới:</label>
        <input id="moilai" type="password" />

        <div class="col-12">
            <a class="btn btn-sm btn-outline-dark btnGui">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> Xác nhận
            </a>
        </div>


    </div>

@section scripts{
    <script>
        $(function () {

        })


        $('.btnGui').click(function () {
            //lấy giá trị
            let mk = $('#cu').val();
            let mk1 = $('#moi').val();
            let mk2 = $('#moilai').val();
            if (mk1.length!=0) {
                if (mk1 != mk2) {
                    alert('Mật khẩu không khớp !');
                    return;
                }
            } else {
                alert('Mật khẩu không được để trống!');
                return;
            }
            $.ajax({
                url: '/User/DoiMK1',
                type: 'get',
                data: {
                    mk: mk,
                    mk1:mk1
                },
                success: function (data) {
                    if (data.code = 200) {
                        alert(data.msg);
                        $('#cu').val('');
                       $('#moi').val('');
                        $('#moilai').val('');
                    } else {
                        alert(data.msg);
                    }
                }
            })
        })
    </script>



}